<div class="user">
  <div class="operate">
    <button nz-button [nzType]="'primary'" (click)="addRole()">
      新增角色
    </button>
  </div>
  <app-my-table [tableDataList]="tableList" [tableTotal]="tableTotal" (changePage)="changePage($event)"
    [loadData]="loadData">
    <tr class="thead">
      <th style="width:150px" nzAlign="left">角色名称</th>
      <th style="width:130px" nzAlign="center">角色描素</th>
      <th style="width:190px" nzAlign="center">创建时间</th>
      <th style="width:190px" nzAlign="center">更新时间</th>
      <th style="width:400px" nzAlign="center">操作</th>
    </tr>
    <tr *ngFor="let data of tableList" class="tbody">
      <td nzAlign="left">{{ data.title }}</td>
      <td nzAlign="center">{{ data.description }}</td>
      <td nzAlign="center">{{ data.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td nzAlign="center">{{ data.updatedAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td nzAlign="center">
        <button nz-button nzType="default" (click)="editRole(data)">修改</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" (click)="menusAuth(data, '1')">菜单权限</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" (click)="interfaceAuth(data, '2')">接口权限</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="danger" (click)="deleteRow(data)">删除</button>
      </td>
    </tr>
  </app-my-table>
</div>
